<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <h1 class="title">Cider App!</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>

    <ul>
      <li>
        <label>Cider App</label>
      </li>

      <% if user_signed_in? %>
      <li><%= link_to "Sign Out", '#' %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>

      <li>
        <a href="/ciders">Ciders Home</a>
      </li>
      <li>
        <a href="#">Cider Houses Home</a>
      </li>
      <li><%= link_to "Back to Home", root_path %></li>
      <%= image_tag("140x110.png") %>
    </ul>

    <section class="main-section">

      <%= yield %>

    </section>

    <footer>
      John Mendes &copy; 2017
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
